.shop__button__goodbread_app {
  font-family: Arial, sans-serif;
  position: fixed;
  cursor: pointer;
  text-decoration: none;
}

.goodbread__widget_placement__bottom {
  bottom: 10px;
  right: 10px;
}

.goodbread__widget_placement__middle {
  bottom: 50%;
  right: 10px;
}

.goodbread__widget_placement__top {
  top: 10px;
  right: 10px;
}

.goodbread__widget_cta {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 100px;
  color: #fff;
  transition: width 0.7s;
  cursor: pointer;
}

@media (max-width: 600px) {
  .goodbread__widget_cta {
    width: 40px;
    height: 40px;
  }
}

.goodbread__cta_caption {
  display: flex;
  flex-direction: column;
}

.goodbread__widget_cta .goodbread__widget_button-text {
  opacity: 1;
  transition: display .5s;
  width: 100%;
  left: 0;
  display: none;
  white-space: nowrap;
  font-size: 16px;
  cursor: pointer;
 }

.goodbread__widget_cta:hover {
  width: 700px;
  transition: width 0.7s;
  cursor: pointer;
}

.goodbread__widget_cart {
  margin-top: 12px;
  margin-left: 3px;
  cursor: pointer;
}

.goodbread__widget_cta:hover .goodbread__widget_cart {
  display: none;
  cursor: pointer;
}

.goodbread__widget_cta:hover .goodbread__widget_button-text {
  opacity: 1;
  display: flex;
  align-items: center;
  transition: opacity 0.5s;
  cursor: pointer;
  padding-left: 5px;
  color: black;
  
}

.goodbread__widget_cta:hover .goodbread__widget_button-text button { 
  width: 284px;
  height: 40px;
  left: 473px;
  top: 1519px;
  background: #FFDB4A;
  border-radius: 50px;
  border: none;
}
